/* Form Styling */
form {
    display: table;
}

form div {
    display: table-row;
}

form div label,
form div input {
    display: table-cell;
}

form div input {
    margin-left: 1vw;
}


/* Table Styling */
table tr th,
table tr td {
    border: 1px solid;
    text-align: center;
}

table tr th:nth-child(1) {
    width: 4vw;
}

table tr th:nth-child(2) {
    width: 25vw;
}

table tr th:nth-child(3) {
    width: 10vw;
}

table tr th:nth-child(4) {
    width: 30vw;
}

table tr th:nth-child(5) {
    width: 15vw;
}

#pagination-container {
    margin-bottom: 2vw;
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 1vw;
}

#pagination-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 15%;
    color: black;
    background-color:rgb(238, 238, 238);
    text-decoration: none;
    flex-shrink: 0;
}

#pagination-container a:hover,
#pagination-container a.active {
    background-color: tomato;
    color: white;
}